* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    align-content: center;
    background-color: white;
    border: solid 1px;
    /* display: flex; */
}

.delete {
    border: none;
    background-color: transparent;
    text-decoration: underline;
}

.money > .in{
    border: solid 1px;
    border-radius: 8px;
    width: 200px;

}

.money>.icon {
    background-color: #e6efea;
    font-weight: 900;
    position: relative;
    border-radius: 4px 0 0 4px;
    padding: .8rem 1rem;
    top: 12px;
    left: 1px;
    bottom: 0;
}

 .in {
    border: none;
}

.años {
    border: solid 1px;
    height: 40px;
    width: 200px;
    align-items: center;
    border-radius: 5px;
}

.porcentaje {
    border: solid 1px;
    height: 40px;
    width: 200px;
    align-items: center;
    border-radius: 5px;
}

.button {
    border-radius: 40px;
    border: none;
    background-color: transparent;
    background-color: #dbda30;
    width: 210px;
    height: 45px;
}

.result {
    background-color: #133040;
}